
     #grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin: 5%;
       }
       .star {
         display: inline-block;  
         cursor: pointer;
       }
       
       .inactive, .active {
         background: transparent;
         user-select: none;
       }
       
       .inactive {
         color: #f1f1e8;
       }
       
       .active {
         color: red;
       }
       .pagination{
         margin-top: 80px;
         margin-bottom: 80px;
         margin-left: 650px;
         cursor: pointer
         
       }
       .Filtration{
        
         overflow: hidden;
         float: left;
         margin: 10px;
         margin-top: 25px;
         margin-right: 70px;
       }
       .filter-Categories{
     
         margin: 20px;
         padding: 20px;

       }
       .filter-price{

        margin: 20px;
        padding: 20px;
        cursor: pointer
       }
       .filter-star{
        margin-top: 50px;
        margin-left:  -8px;
       }
       .outline-dark{
         margin: 10px;
       }
       label{
         display: block;
         padding: 3px;
       
       }
       .modify-Product{
         display: block;
         margin: 5px;
         padding: 5px;
       }
   
       .Button-admin{
         text-align: center;
       }
       .footer{
        clear: both;
        position: relative;
       
       }

       .title-filter{
         margin-bottom: 20px;
       }
       
       /*                  */

       
 