@import url("https://fonts.googleapis.com/css2?family=Anton&family=Noto+Serif:wght@700&family=Yanone+Kaffeesatz:wght@600&display=swap");
.header {
  height: 60px;
  background-color: #cfb997;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.text {
  font-family: "Anton", sans-serif;
  font-family: "Noto Serif", serif;
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin-top: 1%;
  font-size: 30px;
}
.text span {
  color: #000000;
}
h5 {
  color: white;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1%;
  margin-top: 1%;
}
.button {
  margin-right: 1%;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
}

.header-link {
  color: white;
  text-decoration: none;
}
.Icon {
  font-size: 2rem !important;
}
.Icon-cart {
  font-size: 2rem !important;
  margin-bottom: 30%;
}
.IconHome {
  font-size: 3rem !important;
}
.header-option1 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  font-size: 1rem !important;
}
.user-p {
  margin-top: 1%;
  color: rgb(72, 72, 87);
}

.search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.searchIcon {
  padding: 5px;
  height: 30px !important;
  background-color: rgba(0, 0, 0, 0.164);
  font-size: 3.2rem !important;

  border-radius: 0 5px 5px 0;
}

.searchInput {
  margin-left: 4%;
  height: 30px;

  border: none;
  width: 80%;
}

.header-basket {
  display: flex;
  align-items: center;
}

.basket-count {
  margin-left: 10px;
  margin-right: 10px;
}
.navbar-home {
  margin-left: 10px;
  margin-right: 10px;
}
.navbar-cart {
  margin-left: 80%;
}
.navbar-Favorite {
  margin-right: 1%;
}
.navbar-button {
  margin-right: 1%;
}
.header-icon {
  display: flex;

  color: rgb(255, 255, 255);
}
